h1,h2,h3,h4,h5,h6, 
p, 
a, 
li {
    font-family: $main-fonts;
    margin-bottom: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    color: $main-font-color;
}
p, li,
a, a:visited, a:hover {
    color: $main-font-color;
}
.active a{
    color: $main-theme-color;
    font-weight: bold;
}
.block h1, .block h2, .block h3, .block h4, .block h5, .block h6 {
    margin-bottom: 12px;
}
.block p {
    margin-bottom: 20px;
}

html {
    font-size: $normal;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.6em;
}
h4 {
    font-size: 1.4em;
}
h5 {
    font-size: 1.2em;
}
h6 {
    font-size: 1em;
}