h1,h2,h3,h4,h5,h6, 
p, 
a, 
li {
    margin-bottom: 0;
    font-family: $main-fonts;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    color: $main-font-color;
}
p, li,
a, a:visited, a:hover {
    color: $main-font-color;
}
.block h1, .block h2, .block h3, .block h4, .block h5, .block h6 {
    font-weight: 300;
    margin-bottom: 12px;
    font-family: $block-fonts;
}
.block p {
    margin-bottom: 20px;
    font-family: $block-fonts;
}

html {
    font-size: $normal;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.6em;
}
h4 {
    font-size: 1.4em;
}
h5 {
    font-size: 1.2em;
}
h6 {
    font-size: 1em;
}

.page-head-nav-list li {
    font-family: $navigation-fonts;
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;

    a {
        font-family: $navigation-fonts;
    }

    &.active a{
        color: $main-theme-color;
        font-weight: bold;
    }
}