.button, input[type=submit] {
    @extend %button;
}

.button-pink {
    border-color: $main-theme-color;
    color: $main-theme-color;
    &:hover {
        background-color: $main-background-color;
    }
}

.button-blue {
    border-color: $second-theme-color;
    color: $second-theme-color;
    &:hover {
        background-color: $second-background-color;
    }
}