.page-footer {
    border-top: 1px solid $main-background-color;
    // padding-bottom: 150px;

    .copyright {
        padding-bottom: 10px;
        padding-top: 140px;
    }
    h4 {
        color: $second-font-color;
    }
    h5,h6 {
        color: $second-font-color-medium;
        font-weight: 300;
    }
}