.home-linka {
    // text-align: center;
    border-bottom: 2px solid $main-theme-color;
    padding: 20px 20px 5px;
    background-color: $main-background-color;
    p {
        text-transform: uppercase;
        color: $second-font-color;
    }
    h1 {
        color: $second-font-color;
        display: inline-block;
        margin: 5px 0 20px;
    }
}
.home-intro {
    // padding: 0 18%;
    // text-align: center;
    p {
    }
}

#faq {
    .question {
        h4 {
            color: $main-font-color;
            margin-bottom: 5px;
        }
    }
}